# Cloud Storage

In [1]:
import sqlite3
# librería para manipular dataframes
import pandas as pd
# librería para manipular fechas
import datetime as dt
# librería para conectar a Google Cloud Platform
from google.cloud import storage

In [2]:
#Me conecto a la Base de Datos
conn = sqlite3.connect('../local/database/stock_db.db')
main_table = pd.read_sql_query("SELECT * FROM main", conn)
main_table.head()

,Date,Close,High,Low,Open,Volume,Empresa,TKT
0,2024-01-02 00:00:00,184.290405,187.070052,182.553128,185.789422,82488700,Apple,AAPL
1,2024-01-03 00:00:00,182.910538,184.528693,182.096492,182.880757,58414500,Apple,AAPL
2,2024-01-04 00:00:00,180.587540,181.758954,179.565029,180.825785,71983600,Apple,AAPL
3,2024-01-05 00:00:00,179.862823,181.431339,178.860172,180.666948,62303300,Apple,AAPL
4,2024-01-08 00:00:00,184.210983,184.250701,180.180502,180.766209,59144500,Apple,AAPL

In [8]:
# Conexión con la plataforma de Google
storage_client = storage.Client.from_service_account_json('../local/tokens/gcp_token_clase.json')

# Conexión con el bucket
bucket = storage_client.get_bucket('bucket_example_ucema')

In [9]:
bucket

In [10]:
# Itera sobre los objetos en el bucket
blobs = bucket.list_blobs()
for blob in blobs:
    print(blob.name)

In [16]:
# Guardo el archivo
main_table.to_csv('../local/aux_data/main_table_aux.csv', index=False)
# Ruta y archivo dentro del bucket donde se van a subir el dataset

#Fecha y hora como string:
datetime = dt.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

blob = bucket.blob(f'clase2025v0_{datetime}.csv')

# Ruta de donde se lee el archivo para enviar
blob.upload_from_filename('../local/aux_data/main_table_aux.csv', content_type='text/csv')

In [17]:
# Itera sobre los objetos en el bucket
blobs = bucket.list_blobs()
for blob in blobs:
    print(blob.name)

clase2025_2025-06-18 00:55:09.csv
clase2025_2025-06-18 01:20:07.csv
clase2025v0_2025-06-18 01:26:14.csv